.bg-nav,
.bg-blu{
    background-color: #03071E ;
}

.btn-register{
    background-color: white;
     border-radius: 25px;
}

.btn-register:hover{
    background-color: $dark-orange;
    color: white;
}

.jumbotron{
    background-color: $orange;
    height: 830px;
}

.content{
    padding-top:100px;
    padding-left: 50px;
}

.welcome-title{
    color: $dark-blue;
}

.estimate-number{
    font-size:xx-large;
    color:$peacoat;
}

.vl{
    border-left: 2px solid grey;
    height: 50px;
    margin-right: 25px;
}


.cardNavy,
.cardOrange{
    width: 290px;
    height: 354px;
    margin-inline: 30px;
    border-radius: 8px;
    padding: 20px;
   }

.cardNavy{
    background-color:$dark-navy-blue ;
    color: white;
}

.cardOrange{
    background-color: $orange;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box{
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
    border: 0.2px solid black;
}

.yellow {
    background-color: #ffbd44;
    border: 0.2px solid black;
}

.green {
    background-color: #00ca4e;
    border: 0.2px solid black;
}

.fa-solid{
    background-color: white;
    padding: 20px;
    border-radius: 50%;
}



@media screen and (max-width:1200px){

    .responsive{
        max-width: 100%;
        height: auto;
        max-height: 830px;
        border-radius: 20px;
    }

    figure{
        margin-top: 100px;
        margin-right: 100px;
    }

    .vl{
        margin-inline: 20px;
    }
}


@media screen and (max-width:768px){

    .side-photo{
        display: none;
    }

    .estimateContainer{
        gap: 15px;
    }

    .cardNavy,
    .cardOrange{
    width: 330px;
    height: auto;
    }
}

@media screen and (max-width:576px){

    .cardContainer{
       flex-direction: column;
       align-items: center;
       gap: 30px;
    }

    .estimateContainer{
       gap: 15px;
    }
}
