@use './partials/variables' as *;
@use './partials/mixins' as *;

*{
    font-family: "PT Sans", sans-serif;
}


a{
    text-decoration: none;
    color: $orange;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

main{
    padding-top: 85.4px;
}

.offcanvas{
    background-color: #3f3d56!important;
}


.aa{
    border-radius: 0 10px 10px 0;
}

    

