@use './partials/variables' as *;
@use './partials/mixins' as *;

*{
    font-family: "PT Sans", sans-serif;
}


a{
    text-decoration: none;
    color: $orange;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

main{
    padding-top: 85.4px;
}

.offcanvas{
    background-color: #3f3d56!important;
}




.figure_cart{
    border-radius: 0 10px 10px 0;
}

<<<<<<< HEAD
a{
    text-decoration: none!important;
    color: $orange!important;
}

*::-webkit-scrollbar {
    width: 10px;
  }
   
*::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }
>>>>>>> origin/scrollbar
    

